:root {
  --theme: #6A69E0;
  --anti: #9B69E0;
  --bg: #000;
  --bg2: #111111;
  --bg3: #202022;

  --color: #D4D4D4;
  --color2: #797979;
  --color3: #FFF;
  --color4: #2A2A2A;
}


html, body {
  background: var(--bg);
  color-scheme: dark;
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, SF Pro, sans-serif;

  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--color3);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus-visible {
  color: var(--theme);
}

.txt-small {
  font-size: small;
}

.row {
  display: flex;
  align-items: center;
}
.row > * {
  margin: .1rem;
}

.pill-btn {
  cursor: pointer;
  margin: 0 1rem;
  color: var(--color3);
  background: var(--theme);
  border-radius: 10rem;
  padding: .25rem .75rem;
  user-select: none;
  -webkit-user-select: none;
  transition: padding 100ms, background 100ms, border-radius 100ms;
}

.content {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  padding: 1rem 15vw;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.features > * {
  margin: 1rem;
  text-align: center;
}
.features svg {
  transform: scale(125%);
}
.features h3 {
  margin: 0;
  margin-top: .6rem;
}

.appimg {
  /*border-radius: 1.0786rem;*/
  -webkit-clip-path: url(#squircle);
  clip-path: src(#squircle);
  margin: .1rem;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  padding: .75rem 20vw;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color4);
  background: var(--bg2);
}
header h2 {
  margin: 0;
}

h3 > small {
  color: var(--color2);
  vertical-align: super;
  margin: 0 .1rem;
  font-size: .6ch;
}

.introduction {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.introduction img {
  margin-bottom: 1rem;
}
.introduction h1 {
  margin-top: 0;
  font-size: 6ch;
}
.introduction p {
  color: var(--color2);
  max-width: 60%;
  font-size: 2.4ch;
}
.introduction .pill-btn {
  margin-top: 2rem;
  font-size: 1.75ch;
  margin-bottom: .5rem;
  padding: .5rem 1.5rem;
}
.introduction .pill-btn.install-spin {
  padding: .55rem;
}

.introduction small {
  color: var(--color2);
  margin-bottom: 4rem;
}

.mockup {
  filter: drop-shadow(0 0 5rem var(--theme)) drop-shadow(0 1rem 1rem var(--anti));
  animation: 5s ease-in-out mockup-move infinite;
}

@keyframes mockup-move {
  0% {
    filter: drop-shadow(0 0 5rem var(--theme)) drop-shadow(0 1rem 1rem var(--anti));
  }

  25% {
    filter: drop-shadow(1rem 0 4rem var(--theme)) drop-shadow(-1rem 0 1rem var(--anti));
  }

  50% {
    filter: drop-shadow(0 1rem 5rem var(--theme)) drop-shadow(0 -1rem 1rem var(--anti));
  }

  75% {
    filter: drop-shadow(-1rem 0 4rem var(--theme)) drop-shadow(1rem 0 1rem var(--anti));
  }

  100% {
    filter: drop-shadow(0 0 5rem var(--theme)) drop-shadow(0 1rem 1rem var(--anti));
  }
}

.install-spin {
  padding: .15rem;
  border-radius: 100%;
  cursor: default;
  background: transparent;
  color: transparent;

  text-align: center;
  white-space: nowrap;
  max-width: .5rem;
  max-height: .5rem;

  border: .2rem solid var(--color4);
  border-top-color: var(--color2);

  animation: 500ms linear 75ms install-spin infinite;
}

@keyframes install-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(350deg); }
}

@media (max-width: 800px) {
  header {
    padding: .75rem 5vw;
    width: 90vw;
  }

  .content {
    padding: 1rem 2rem;
  }

  .features {
    grid-template-columns: auto;
  }

  .introduction p {
    max-width: 85%;
  }

  .mockup {
    aspect-ratio: keep;
    width: 60vw;
  }
}

